.active_bannerimg{
    width: 150px;
    height: 200px;
}
.activeshow{
    transition: all 0.3s ease;
}

.activeshow:hover{
    transform: translateY(-3px);
}
.eventime{

    padding-bottom:7px;
    border-bottom: 2px dashed #323232;
    color: #323232;
}

.bookingicon{
    color: #FFA500;
}
.activeshow p{
    font-size: 14px;
    color: #323232;
}
.eventseats{
    padding-top: 7px;
    max-width: 400px;
}
.cancellation{
    color: red !important;
}