/* /Carousel/ */
.eAyARa,
.eWjCzc {
  color: var(--primary) !important;
}

.krmNah {
  background-color: rgb(255 255 255) !important;
  box-shadow: 0 0 1px 3px rgb(255 165 0) !important;
}
.jhmYzC {
  background-color: rgb(255 255 255) !important;
  box-shadow: 0 0 1px 2px rgb(255 255 255) !important;
}
.hHJTFD{
  margin: 0px !important;
}